@import "https://fonts.googleapis.com/css?family=Biryani|Fjalla+One";

.wrapperArtistList {
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  font-family: "Biryani";
  position: fixed;
}

.flex-containerA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  flex-wrap: nowrap;
  width: 100vw;
  flex-shrink: 1;
}

.flex-containerInner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  justify-items: space-between;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.flex-containerE {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-start;
  justify-items: flex-end;
  flex-wrap: nowrap;
  width: 100vw;
  flex-shrink: 1;
}

.pickA {
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 250px;
  transition: all 0.5s ease-out;
}

.pickA::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

.Artist {
  display: center;
  border: 2px solid white;
  height: 200px;
  width: 200px;
  font-family: "Biryani";
  border-radius: 10px;
  position: relative;
}

.ArtistPic:hover {
  background-color: rgba(250, 245, 245, 0.3);
}

.ArtistPic {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  height: 100%;
  border-radius: 10px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Biryani";
}

.Artist:hover .ArtistPic {
  opacity: 0.3;
}

.Artist:hover .middle {
  opacity: 1;
}

.Event {
  display: center;
  border: 2px solid white;
  height: 200px;
  width: 200px;
  font-family: "Biryani";
  font-size: 15px;
  border-radius: 10px;
}

.EventName,
.ArtistName,
.DesignName {
  font-family: "Biryani";
  font-size: 15px;
  color: white;
  text-align: right;
  bottom: 0;
  margin-right: 5%;
  margin-top: 80%;
}

.Event:hover {
  background-color: rgba(250, 245, 245, 0.3);
}

.Design {
  display: center;
  border: 2px solid white;
  height: 200px;
  width: 200px;
  font-family: "Biryani";
  font-size: 15px;
  border-radius: 10px;
}

.Design:hover {
  background-color: rgba(250, 245, 245, 0.3);
}

#slideA {
  position: relative;
  right: -1500px;
  width: 100vw;
  height: 250px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slideA 1s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slideA {
  100% {
    right: 0;
  }
}

@keyframes slideA {
  100% {
    right: 0;
  }
}

.pickE {
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 250px;
  transition: all 0.5s ease-out;
}

.pickE::after {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

#slideE {
  position: relative;
  left: -1500px;
  width: 100vw;
  height: 250px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slideE 1s forwards;
  animation-delay: 2s;
  float: right;
}

@-webkit-keyframes slideE {
  100% {
    left: 0;
  }
}

@keyframes slideE {
  100% {
    left: 0;
  }
}

.pickT {
  position: block;
  overflow: hidden;
  width: 25%;
  height: 250px;
  transition: all 0.5s ease-out;
  border: 10px white;
}

.pickT::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

#slideT {
  position: relative;
  right: -1500px;
  width: 100vw;
  height: 250px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slideT 1s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slideT {
  100% {
    right: 0;
  }
}

@keyframes slideT {
  100% {
    right: 0;
  }
}

.color-change-3x {
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: white;
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: #893843;
  }
}
@keyframes color-change-3x {
  0% {
    background: white;
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: #893843;
  }
}
