.Artist {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px; 
    border: 0px solid white;
}
.video-fluid1 {
    width: 100%;
    height: auto;
    position: relative; 
    top:-100%;
  }

#slide1 {
    position: relative;
    left: -1500px;
    width: 100%;
    height: 800px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 1s;
    animation: slide1 1s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide1 {
    100% { left: 0; }
}

@keyframes slide1 {
    100% { left: 0; }
}

.Event {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px; 
    border: 0px solid white;
}

#slide2 {
    position: relative;
    right: -1500px;
    width: 100%;
    height: 800px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 1s;
    animation: slide2 1s forwards;
    animation-delay: 2s;
}

.video-fluid2 {
    width: 100%;
    height: auto;
    position: relative; 
    top:-100%;
  }

@-webkit-keyframes slide2 {
    100% { right: 0; }
}

@keyframes slide2 {
    100% { right: 0; }
}

.Technique {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px; 
    border: 0px solid white;
}

.video-fluid3 {
    width: 100%;
    height: auto;
    position: relative; 
    top:-100%;
  }

#slide3 {
    position: relative;
    left: -1500px;
    width: 100%;
    height: 800px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 1s;
    animation: slide3 1s forwards;
    animation-delay: 2s;
}


@-webkit-keyframes slide3 {
    100% { left: 0; }
}

@keyframes slide3 {
    100% { left: 0; }
}

.wrapperArtistlist{
 margin-top: 50px;
 background-color:  #848482; 
}



